
.App {
  padding: 20px;
  font-family: sans-serif;
}

.form-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;

}

input, select {
  margin-bottom: 10px;
  width: 50%;
}
.sel{
  width:100px;
}

table {
  width: 100%;
table-layout: auto;
}

 /* Fixed table header */
 thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 10;
  width:100%;
}
  /* Table headers */
  th {
    padding: 12px;
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
  }
  /* Table rows */
  td {
    padding: 12px;
    color: #444;
  }
  
  /* Horizontal lines only (no vertical borders) */
  tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Last row shouldn't have a border */
  tr:last-child {
    border-bottom: none;
  }
  
  /* Hover effect - like Google Classroom */
  tr:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease-in-out;
  }
  .save{
    margin-left:10px;
  }